* {
  margin: 0;
}

:root {
  --header-btn-shadow: rgba(0, 0, 0, 0.212) 0px 1px 1px
    /* , rgba(255, 255, 255, 0.692) -4px -4px 10px */;
  /* inset rgba(255, 255, 255, 0.822) -2px -2px 15px, inset rgba(255, 255, 255, 0.815) 2px 2px 20px; */
  --global-background-color: rgb(243, 241, 239);
}

.main {
  display: inline-block;
  background-color: var(--global-background-color);
  width: 100%;
  text-align: center;
  height: 100%;
}

.header {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px 0 10px 8px;
  background-color: var(--global-background-color);
}

.header * {
  text-decoration: none;
  text-align: center;
  outline: 0;
  min-width: 60px;
  color: rgb(105, 105, 105);
  z-index: 1;
}

.header :hover {
  box-shadow: var(--header-btn-shadow);
  animation: headerInOut 2s ease-out;
  color: #294c6e;
}

.intro-page {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 6em 0 50%;
  background-color: var(--global-background-color);
  /* border-radius: 500px; */
}

.intro-link {
  margin: 5px;
  padding: 1em 0 0.2em;
  margin: 0.2em 1em 0.2em;
  font-size: 2em;
  text-decoration: none;
  /* background-color: rgb(189, 189, 189); */
}

.intro-link:hover {
  border-bottom: rgb(134, 138, 160) 1px solid;
}

.intro-head {
  font-size: 3em;
}

.intro-head * {
  font-family: 'Nunito', sans-serif;
  font-size: 2.5em;
  font-weight: 200;
  color: grey;
}

.intro-head h2 {
  font-size: 0.96em;
  margin: 0 0 1em 0;
  padding: 0;
}

.intro-links {
  flex-direction: row;
  place-content: center;
  display: block;
  white-space: nowrap;
  font-size: 11px;
}

.project {
  background-color: var(--global-background-color);
  margin: 0.7em 0;
}

.proj-details {
  padding: 1em 1em 1em 1.5em;
  line-height: 1.05em;
}

.proj-details * {
  text-align: left;
  font-size: small;
  padding: 0 0 1em 0;
}

.project img {
  width: 100%;
  box-shadow: none;
  cursor: pointer;
}

.portfolio-header {
  padding: 1.8em;
  font-weight: 100;
  text-align: left;
}

.portfolio-header * {
  text-decoration: none;
  display: block;
  font-size: 1.2em;
  margin: 10px 20px;
  padding: 0 0 5px;
  font-weight: 400;
  color: gray;
}

.portfolio-header *:hover {
  color: rgb(70, 70, 141);
  padding: 0 0 2px;
  border-bottom: rgb(219, 220, 226) 3px solid;
}

.cv {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  text-align: left;
  background-color: white;
  margin: 0.7em;
  padding: 2em 2em;
  display: grid;
  grid-template-areas:
    'cv-page-header'
    'cv-page-header-print'
    'cv-section-about'
    'cv-section-skills'
    'cv-section-education'
    'cv-section-work'
    'cv-section-contact';
  row-gap: 1em;
  max-width: 1600px;
}

.cv * {
  padding: 0.2em 0;
}

.cv h2 {
  font-size: large;
  color: #314f63;
  font-weight: 200;
}

.cv h3 {
  font-weight: 300;
  font-size: medium;
}

.cv h4 {
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 100;
  font-size: smaller;
  color: #314f63;
}

.cv-page-header {
  grid-area: cv-page-header;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.cv-page-header img {
  width: 50px;
  grid-area: cv-header-pic;
}

.cv-page-header * {
  color: #364450;
  font-size: 35px;
}

.cv-page-header p {
  font-weight: 500;
  font-size: 1.6em;
  /* color: rgb(68, 112, 153); */
  color: #486985;
}

.cv-page-header-print {
  grid-area: cv-page-header-print;
  display: none;
}
.cv-page-header-print img {
  display: block;
  margin: 0 auto 0;
}
.cv-section-about {
  font-size: large;
  text-align: justify;
  grid-area: cv-section-about;
}

.cv-section-about h3 {
  grid-area: cv-section-about;
  font-size: large;
  margin: 0 0 10px 0;
}

.cv-section-work {
  grid-area: cv-section-work;
}

.cv-section-contact {
  grid-area: cv-section-contact;
}
.cv-section-contact-deatils a {
  text-decoration: none;
  font-size: 18px;
  /* font-weight: 400; */
  color: rgb(34, 44, 63);
}

.cv-section-contact-deatils a:visited {
  text-decoration: none;
  color: rgb(44, 43, 54);
}
.cv-section-contact-deatils a:hover {
  text-decoration: underline;
  color: rgb(0, 140, 255);
}
.cv-section-contact-deatils {
  display: grid;
  grid-template-rows: repeat(3, [col] auto);
  grid-template-columns: repeat(2, [col] auto);
  gap: 5px;
  font-weight: 400;
}

.cv-portfolio-link {
  grid-column: col / span 2;
  padding: 10px 0 10px;
  margin: 0;
}

.cv-section-contact a {
  margin: 0 0 10px 0;
}

.cv-section-contact h3 {
  margin: 0 0 13px 0;
}

.cv-section-education {
  grid-area: cv-section-education;
}

.cv-section-education h3 {
  margin-bottom: 5px;
}

.cv-section-skills {
  grid-area: cv-section-skills;
  display: grid;
  grid-template-rows: 0.1fr 3fr;
}

.cv-episode-skills-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr 0.4fr;
  gap: 5px;
  grid-template-areas:
    'cv-skill-prog cv-skill-others'
    'cv-skill-prog cv-skill-languages';
  margin: 0 1em 1em 0;
}
.cv-skill-prog {
  grid-area: cv-skill-prog;
  padding: 10px 0 0;
  display: grid;
  gap: 0.6em;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.cv-skill-others {
  font-size: medium;
  padding: 8px 0 0 0;

  font-weight: 300;
  grid-area: cv-skill-others;
}
.cv-skill-languages {
  padding: 5px 0 0;
  font-size: large;
  font-weight: 400;
  grid-area: cv-skill-languages;
}

.skill-bar {
  font-size: larger;
  font-weight: 400;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 0.2fr 0.2fr 0.2fr;
}

.skill-bar-comment {
  font-size: large;
  padding: 0;
  font-weight: 200;
}

.cv-section-header {
  /* font-family: "Montserrat", sans-serif; */
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding: 5px 0 5px 0;
  border: 1px solid rgb(211, 211, 211);
  border-left: none;
  border-right: none;
  border-top: none;
}

.cv-episode-header * {
  display: inline-block;
  padding: 10px 15px 0 0;
}

@media (min-width: 1200px) {
  .project {
    display: grid;
    grid-template-columns: auto;
    grid-template-columns: 4fr 2fr;
    background-color: var(--global-background-color);
  }
}

@media (min-width: 1100px) {
  .header {
    justify-content: start;
  }
  .header * {
    padding: 7px 0 0 0;
    margin: 0 0.3em 0 2.6em;
  }
  .intro-links {
    width: 100%;
    font-size: medium;
  }
  .project {
    padding: 0.5em 3em;
    grid-template-rows: 0.1fr 1fr;
    max-width: 1700px;
    background-color: var(--global-background-color);
  }

  .project img {
    object-fit: cover;
    box-shadow: 0 0 0 6px white, 0 0 0 7px rgb(214, 214, 214);
  }

  .proj-details {
    padding-top: 0em;
  }

  .cv {
    padding: 3.2em 4em;
    margin: 1.4em 6vw 3em 2.5em;
    column-gap: 2em;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 0.3fr 0.35fr 0.8fr 0.5fr 1fr;
    grid-template-areas:
      'cv-page-header   		cv-page-header-print'
      'cv-section-about 		cv-section-about '
      'cv-section-skills 		cv-section-education'
      'cv-section-work 		cv-section-contact'
      'cv-section-work		.';
  }

  .cv-page-header {
    text-align: left;
    display: grid;
    grid-template-columns: 1.2fr 10fr;
    column-gap: 10px;
    grid-template-areas:
      'cv-header-pic cv-header-name'
      'cv-header-pic cv-header-sub';
  }

  .cv-page-header img {
    padding: 0.3em 0 0 0em;
    margin: 0;
    width: 70px;
  }
  .cv-section-about {
    font-size: larger;
  }
  .cv-section-about * {
    margin-bottom: 1em;
  }
  .skill-bar {
    padding-right: 15px;
  }

  .cv-page-header-print {
    grid-area: cv-page-header-print;
    float: left;
    display: block;
  }
  .cv-page-header-print img {
    float: right;
    cursor: pointer;
    padding: 0 0.4em;
  }
  .portfolio-header {
    display: flex;
    box-sizing: initial;
  }
}

.contact-page {
  font-family: 'Crimson Text', serif;
  font-weight: 100;
  text-align: left;
  background-color: white;
  margin: 2.5em 2.6em;
  padding: 2em;
  row-gap: 1em;
  max-width: 1000px;
  min-width: 100px;
  min-height: 600px;
}

.contact-page * {
  font-family: 'Crimson Text', serif;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.contact-section-contact-deatils * {
  margin: 15px 0 0;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.contact-section-contact-deatils a {
  font-weight: 500;
}

.contact-section-contact-deatils a:hover {
  color: rgb(7, 86, 160);
  text-decoration: underline;
}

.contact-phone {
  margin: 2px 0;
  font-weight: 500;
}
/*------FOR PRINT-------*/
@media print {
  .header {
    display: none;
  }

  html,
  body {
    width: 210mm;
    height: 297mm;
    margin: 0;
    padding: 0;
  }

  .cv {
    /* padding: 3.2mm 2mm; */
    /* margin: 1.4em 2em 3em 2.5em; */
    margin: 0;
    padding: 2mm 10mm 0 0;
    gap: 0;
    column-gap: 5mm;
    grid-template-columns: 10fr 5fr;
    grid-template-rows: 0.2fr 0.4fr 0.6fr 0.8fr 1fr;
    grid-template-areas:
      'cv-page-header cv-page-header'
      'cv-section-about cv-section-about'
      'cv-section-skills cv-section-skills'
      'cv-section-work cv-section-education'
      'cv-section-work cv-section-contact';
  }

  .cv-episode-header * {
    padding: 2mm 0 0;
    margin: 0;
  }

  .cv-page-header {
    text-align: left;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 0.2fr 0.5fr;
    grid-template-areas:
      'cv-header-name cv-header-pic'
      'cv-header-sub cv-header-pic';
  }

  .cv-page-header img {
    padding: 2mm 1mm 0 0;
    width: 18mm;
    float: right;
  }

  .cv-page-header p {
    padding: 2mm 0 2mm;
    font-size: 5.1mm;
  }
  .cv-page-header * {
    padding: 0;
    margin: 0;
  }

  .cv-page-header-print {
    display: none;
    float: left;
  }
  .cv-page-header-print img {
    float: right;
  }
  .cv-skill-prog {
    padding: 0px 0 5mm;
    display: grid;
    gap: 0;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr 1.6fr;
  }
  .cv-skill-languages {
    padding: 0;
    font-weight: 200;
  }
  .cv-episode-skills-body {
    gap: 5px;
  }
  .skill-bar {
    padding: 4mm 0 0;
  }

  .skill-bar * {
    font-size: medium;
    padding: 0;
  }
  .skill-bar canvas {
    width: 30mm;
  }

  .cv-section-contact * {
    padding: 0;
    margin: 0;
  }
  .cv-section-about h3 {
    font-size: large;
  }
  .cv-section-about * {
    font-size: 4.2mm;
  }
  .cv-section-work h2 {
    padding: 0;
    margin: 0;
  }
}

/* @keyframes headerInOut {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: var(--header-btn-shadow);
	}
} */

/* @keyframes headerInOut {
	0% {
		box-shadow: gray;
	}
	100% {
		box-shadow: var(--header-btn-shadow);
	}
}
 */
/*---------------   CV RELATED   ----------------*/
