* {
	margin: 0;
}

:root {
	--header-btn-shadow: rgba(0, 0, 0, 0.055) 5px 8px 15px, rgba(255, 255, 255, 0.692) -4px -4px 10px,
		inset rgba(255, 255, 255, 0.822) -2px -2px 15px, inset rgba(255, 255, 255, 0.815) 2px 2px 20px;
}

.main {
	display: inline-block;
	background-color: rgb(243, 241, 239);
	margin: 20px auto;
	width: 100%;
	text-align: center;
	height: 100%;
}

.portfolio-page {
	display: inline-block;
	padding: 0 50px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px 0 10px 0;
	background: linear-gradient(
		180deg,
		rgb(240, 240, 240) 0%,
		rgb(241, 241, 241) 20%,
		rgba(255, 255, 255, 1) 100%
	);
}

.header * {
	text-decoration: none;
	text-align: center;
	outline: 0;
	padding: 8px 15px;
	min-width: 60px;
	border-radius: 10px;
	color: rgb(105, 105, 105);
}

.header :hover {
	box-shadow: var(--header-btn-shadow);
	animation: headerInOut 0.2s ease-out;
}

.header :active {
	color: rgb(255, 255, 255);
}

@keyframes headerInOut {
	0% {
		box-shadow: none;
	}
	100% {
		box-shadow: var(--header-btn-shadow);
	}
}

/*---------------   CV RELATED   ----------------*/

.cv {
	font-family: "Crimson Text", serif;
	font-weight: 100;
	text-align: left;
	background-color: white;
	padding: 0 2em;
	display: grid;
	grid-template-areas:
		"cv-page-header"
		"cv-section-about"
		"cv-section-work"
		"cv-section-education"
		"cv-section-skills"
		"cv-section-contact";
	row-gap: 1em;
}

.cv * {
	padding: 0.2em 0;
}

.cv-page-header {
	grid-area: cv-page-header;
	text-align: center;
	font-family: "Raleway", sans-serif;
}

.cv-page-header img {
	width: 50px;
	grid-area: cv-header-pic;
}
.cv-page-header p {
	font-weight: 300;
	font-size: 1.2em;
}

.cv-section-contact {
	grid-area: cv-section-contact;
}
.cv-section-about {
	grid-area: cv-section-about;
}
.cv-section-work {
	grid-area: cv-section-work;
}
.cv-section-education {
	grid-area: cv-section-education;
}
.cv-section-skills {
	grid-area: cv-section-skills;
}

.cv p {
	/* max-inline-size: 700px; */
}

.cv h2 {
	font-size: large;
	color: #314f63;
	font-weight: 200;
}
.cv h4 {
	/* font-family: "Montserrat", sans-serif; */
	font-weight: 100;
	font-size: smaller;
	color: #314f63;
}

.cv-section-header {
	/* font-family: "Montserrat", sans-serif; */
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	padding: 5px 0 5px 0;
	border: 1px solid rgb(211, 211, 211);
	border-left: none;
	border-right: none;
	border-top: none;
}

.cv-episode-header {
	/* border: 1px solid black;
	border-left: none;
	border-right: none; */
}

.cv-episode-header * {
	display: inline-block;
	padding: 10px 15px 0 0;
}

@media (min-width: 650px) {
	.cv {
		padding: 0 5em;
		column-gap: 3em;
		grid-template-columns: 3fr 2fr;
		grid-template-rows: 1fr 3fr 2fr 3fr;
		grid-template-areas:
			"cv-page-header ."
			"cv-section-work cv-section-skills"
			"cv-section-work cv-section-about"
			"cv-section-education cv-section-contact";
	}
	.cv-page-header {
		text-align: left;
		display: grid;
		grid-template-columns: 7fr 1fr;
		grid-template-areas:
			"cv-header-name cv-header-pic"
			"cv-header-sub cv-header-pic";
	}
	.cv-page-header img {
		padding: 0.7em 0 0 5em;
		width: 60px;
	}
}
